@model GetAllMarksViewModel

<a asp-action="Index">Home</a>

<table class="table">
    <tr>
        <td>Parameter</td>
        <td>Mark Value</td>
        <td>Mark Description</td>
        <td>User</td>
        <td>Assessor</td>
        <td>Assessment Date</td>
    </tr>
        @foreach (Mark mark in Model.Marks)
        {
            if (mark.User.DepartmentId != Model.CurrentUserDepartmentId)
                continue;
            <tr>
                <td>@mark.Parameter.Name</td>
                <td>@mark.MarkValue</td>
                <td>@mark.MarkDescription</td>
                <td>@mark.User.Surname @mark.User.Name</td>
                <td>@mark.AssessorSurname @mark.AssessorName</td>
                <td>@mark.AssesmentDate</td>
            </tr>
        }

</table>