@model AddParameterViewModel

<a asp-action="Index">Home</a>

<table class="table">
    <tr><td>Id</td><td>Name</td><td>Coefficient</td><td>Department</td></tr>
    @foreach (var item in Model.Parameters)
    {
        <tr><td>@item.Id</td><td>@item.Name</td><td>@item.Coefficient</td><td>@item.Department.Name</td></tr>
    }
</table>

<form method="post" asp-action="AddParameter">

    <div>
        <label for="departmentId">Department:</label>
        <select name="departmentId">
            @foreach (Department department in Model.Departments)
            {
                if (department.Name == "Admin")
                    continue;
                <option value="@department.Id">@department.Name</option>
            }
        </select>
    </div>



    <input type="text" name="name" required placeholder="Name" />
    <input type="number" class="coefficient-width" min="0" max="1" step="0.01" name="coefficient" required placeholder="coefficient" />

    <div>
        <input type="submit" value="Add" />
    </div>
</form>

<style>
    .coefficient-width {
        width: 100px;
    }
</style>