@model AddSelectionViewModel

<a asp-action="Index">Home</a>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Department</td>
        <td>Name</td>
        <td>Parameters</td>
    </tr>
    @foreach (var item in Model.Selections)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Department.Name</td>
            <td>@item.Name</td>
            <td> 
                @foreach(Parameter lala in item.Parameters)
                {
                    <p>@lala.Name</p>
                }
            </td>
        </tr>
    }
</table>

<form method="post" asp-action="AddSelection">

    <div>
        <label for="departmentId">Department:</label>
        <select name="departmentId">
            @foreach (Department department in Model.Departments)
            {
                if (department.Name == "Admin")
                    continue;
                <option value="@department.Id">@department.Name</option>
            }
        </select>
    </div>

    <div>
        <p>Check parameters for this selection:</p>

        <div>
            @foreach (Parameter parameter in Model.Parameters)
            {
                <p>
                    <input type="checkbox" name="myarray" id="myarray" value="@parameter.Id" /> @parameter.Name
                    @*<input type="number" step="0.01" name="mycoefficientarray" id="mycoefficientarray" placeholder="Coefficient" />*@
                </p>
            }
        </div>
    </div>

    <input type="text" name="selectionName" required placeholder="Name" />

    <div>
        <input type="submit" value="Add" />
    </div>
</form>