@{
    ViewBag.Title = "Home Page";
}

<a asp-action="Index">Home</a>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Surname</td>
        <td>Name</td>
        <td>Login</td>
        <td>Password</td>
        <td>Role</td>
        <td>Status</td>
        <td>Department</td>
    </tr>
    @foreach (User user in Model.Users)
    {
        if (user.Department.Name == "Admin")
            continue;
        <tr>
            <td>@user.Id</td>
            <td>@user.Surname</td>
            <td>@user.Name</td>
            <td>@user.Login</td>
            <td>@user.Password</td>
            <td>@user.Role.Name</td>
            <td>@user.Status.Name</td>
            <td>@user.Department.Name</td>
        </tr>
    }
</table>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert">
       <strong>Error!</strong>
       <p>@ViewData.ModelState["Error"].Errors.First().ErrorMessage</p>
    </div>
}

<form method="post" asp-action="AddUser">

    <input type="text" name="surname" required placeholder="Surname" />
    <input type="text" name="name" required placeholder="Name" />
    <input type="text" name="login" id="login" class="input" required placeholder="Login" />
    <input type="text" name="password" id="password" class="input" required placeholder="Password" />

    <script>
        const inputForms = document.querySelectorAll(".input");
        for (const i of inputForms) {
            i.onkeyup = function () {
                var reg = /[а-яА-ЯёЁ]/g;
                if (this.value.search(reg) != -1) {
                    this.value = this.value.replace(reg, '');
                }
            }
        }
    </script>

    <div>
        <label for="roleId">Role:</label>
        <select name="roleId">
            @foreach (Role role in Model.Roles)
            {
                if (role.Name == "Admin")
                    continue;
                <option value="@role.Id">@role.Name</option>
            }
        </select>
    </div>

    <div>
        <label for="statusId">Status:</label>
        <select name="statusId">
            @foreach (Status status in Model.Statuses)
            {
                <option value="@status.Id">@status.Name</option>
            }
        </select>
    </div>

    <div>
        <label for="departmentId">Department:</label>
        <select name="departmentId">
            @foreach (Department department in Model.Departments)
            {
                if (department.Name == "Admin")
                    continue;
                <option value="@department.Id">@department.Name</option>
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Add" />
    </div>
</form>