@model AddSelectionViewModel

<a asp-action="Index">Home</a>

<h3>Created selections</h3>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Department</td>
        <td>Name</td>
        <td>Parameters</td>
    </tr>
    @foreach (var item in Model.Selections)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Department.Name</td>
            <td>@item.Name</td>
            <td>
                @foreach (Parameter lala in item.Parameters)
                {
                    <p>@lala.Name</p>
                }
            </td>
        </tr>
    }
</table>

<h3>Choose department to create selection</h3>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Add Selection</td>
    </tr>
    @foreach (Department department in Model.Departments)
    {
        if (department.Name == "Admin")
            continue;
        <tr>
            <td>@department.Id</td>
            <td>@department.Name</td>
            <td><a asp-controller="Admin" asp-action="AddSelection" asp-route-departmentId="@department.Id">Add Selection</a></td>
        </tr>
    }
</table>