

<a asp-action="Index">Home</a>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Surname</td>
        <td>Name</td>
        <td>Login</td>
        <td>Password</td>
        <td>Role</td>
        <td>Status</td>
        <td>Department</td>
        <td>Fire/Hire user</td>
    </tr>
    @foreach (User user in Model.Users)
    {
        if (user.Department.Name == "Admin")
            continue;
        if (Model.LastName != null && !user.Surname.Contains(Model.LastName.Trim()) ||
            Model.FirstName != null && !user.Name.Contains(Model.FirstName.Trim()) ||
            Model.DepartmentName != null && !user.Department.Name.Contains(Model.DepartmentName.Trim()) ||
            Model.StatusName != null && !user.Status.Name.Contains(Model.StatusName.Trim()) ||
            Model.RoleName != null && !user.Role.Name.Contains(Model.RoleName.Trim()))
        {
            continue;
        }
        <tr>
            <td>@user.Id</td>
            <td>@user.Surname</td>
            <td>@user.Name</td>
            <td>@user.Login</td>
            <td>@user.Password</td>
            <td>@user.Role.Name</td>
            <td>@user.Status.Name</td>
            <td>@user.Department.Name</td>
            <td>
                <a asp-controller="Admin" 
                   asp-action="DeleteUserAction" 
                   asp-route-id="@user.Id"
                >
                    @(user.Status.Name == "Working" ? "Fire" : "Hire")
                </a>
            </td>
        </tr>
    }
</table>

<form method="post" asp-action="DeleteUser">
    <div class="text-center">

        <input type="text" name="lastName" placeholder="Surname" />
        <input type="text" name="firstName" placeholder="Name" />
        <input type="text" name="department" placeholder="Department" />
        <input type="text" name="status" placeholder="Status" />
        <input type="text" name="role" placeholder="Role" />

        <div>
            <input type="submit" value="Search" class="btn-info" />
        </div>
    </div>
</form>